@charset "UTF-8"; 


html {
  font-size: 100%; /* 預設字體大小 */
}

body {
  line-height: 1.7; /* 設定行高 */
  color: #432; /* 設定文字顏色為深棕色 */
}

a {
  text-decoration: none; /* 去除鏈接的下劃線 */
}

img {
  max-width: 100%; /* 圖片最大寬度 */
}

/* NEWS*/
#news {
  background-image: url(../images/news-bg.jpg); /* 設定背景圖片 */
  height: 400px; /* 設定圖片高度為400px */
  margin-bottom: 40px; /* 設定底部間距 */
}

#news .page-title {
  text-align: center; /* 設定頁面標題的對齊方式為居中 */
}

/* 大型背景影像 */
.big-bg {
  background-size: cover; /* 背景圖片覆蓋整個區域 */
  background-position: center top;  /* 設定背景圖片的對齊位置為頂部居中 */
  background-repeat: no-repeat; /* 禁止背景圖片重複 */
}

/* HEADER */
.logo {
  width: 210px; /* 設定 logo 圖片的寬度 */
  margin-top: 14px; /* 設定頂部間距 */
}

.main-nav {
  display: flex; /* 水平方向排列導航項目 */
  font-size: 1.25rem; /* 設定字體大小 */
  text-transform: uppercase; /* 將文本轉換為大寫字母 */
  margin-top: 34px; /* 設定頂部間距 */
  list-style: none; /* 去掉預設的列表項符號 */
}

.main-nav li {
  margin-left: 36px; /* 每個導航項目之間設定左邊距 */
}

.main-nav a {
  color: #432; /* 文字顏色深棕色 */
}

.main-nav a:hover {
  color: #0bd; /* 當滑鼠懸停在連結上時，將文字顏色改為淡藍色 */
}

.page-header {
  display: flex; 
  justify-content: space-between; /* 在水平方向上兩端對齊 */
}

.wrapper {
  max-width: 1100px; /* 設定最大寬度為1100px */
  margin: 0 auto; /* 設定居中顯示 */
  padding: 2% 4%;  /* 設定內邊距，上下各2%，左右各4% */
}

/* 標題部分 */
.page-title {
  font-size: 5rem; /* 設定字體大小為5倍的預設大小 */
  text-transform: uppercase; /* 將字轉換為大寫字母 */
  font-weight: normal; /* 設定字體粗細 */
}

/* 報導部分 */
article {
  width: 60%; /* 設定文章部分寬度為60% */
  order: 2; /* 設定文章顯示的順序為第二 */
}

.post-info {
  position: relative; 
  padding-top: 4px; /* 設定頂部內邊距 */
  margin-bottom: 40px; /* 設定底部間距 */
}

.post-title {
  font-size: 2rem; /* 店內畫作全面更新的字體大小 */
  font-weight: normal; /* 設定標題粗細 */
}

.post-date {
  background: #0bd; /* 設定日期背景顏色為綠色 */
  border-radius: 50%; /* 設定為圓形 */
  color: #fff; /* 設定文字顏色為白色 */
  width: 100px; /* 設定日期的寬度為100px */
  height: 100px; /* 設定日期的高度為100px */
  font-size: 1.625rem; /* 設定字體大小 */
  text-align: center; /* 設定文本居中對齊 */
  position: absolute; 
  top: 0; /* 設定日期位置在頂部 */
  padding-top: 10px; /* 設定頂部內邊距 */
}

.post-date span {
  font-size: 1rem; /* 日期的字體大小 */
  border-top: 1px rgba(255, 255, 255, .5) solid; /* 設定日期底部的分隔線 */
  padding-top: 6px; /* 設定分隔線和文字的間距 */
  display: block; 
  width: 60%; /* 設定寬度為60% */
  margin: 0 auto; /* 設定居中顯示 */
}

.post-title,
.post-cat {
  margin-left: 120px; /* 設定標題和圓形的左邊距 */
}

article img {
  margin-bottom: 20px; /* 設定圖片底部間距 */
}

article p {
  margin-bottom: 1rem; /* 設定段落底部的間距 */
}

/* 邊欄部分*/
.news-contents {
  display: flex;  /* 主選單 水平方向排列 */
  justify-content: space-between; /* 使兩端對齊 */
  margin-bottom: 50px; /* 設定底部間距 */
}

aside {
  width: 22%; /* 設定側邊欄寬度 */
  order: 3; /* 設定側邊欄的位置 */
}

.sub-title {
  font-size: 1.375rem; /* 設定副標題字體大小 */
  padding: 0 8px 8px; /* 設定內邊距 */
  border-bottom: 2px #0bd solid; /* 設定底部邊框為綠色 */
  font-weight: normal; /* 設定字體粗細 */
}

.sub-menu {
  margin-bottom: 60px; /* 設定底部間距 */
  list-style-type: none; /* 去掉預設的列表樣式 */
}

.sub-menu li {
  border-bottom: 1px #ddd solid; /* 設定列表項底部邊框 */
}

.sub-menu a {
  color: #432; /* 設定鏈接文字顏色 */
  padding: 10px; /* 設定內邊距 */
  display: block; 
}

.sub-menu a:hover {
  color: #0bd; 
}

aside p {
  padding: 12px 10px; /* 設定段落的內邊距 */
}

.ad {
  order: 1; /* 設定顯示順序為第一 */
}

/* 頁尾 */
footer {
  background: #432; /* 設定頁尾背景顏色為深棕色 */
  text-align: center; /* 設定文本居中對齊 */
  padding: 0.001px 0;  /* 內邊距設定 */
}

footer p {
  color: #fff; /* 設定頁尾文字顏色為白色 */
  font-size: 0.875rem;  /* 設定字體大小尺寸 */
}
